version: '3.8'

services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    env_file:
      - ../.env
    networks:
      - app-network

  gateway:
    build:
      context: ../gateway
      dockerfile: Dockerfile
    ports:
      - "5921:5921"            
    env_file:
      - ../.env
    depends_on:
      - backend
    networks:
      - app-network

  mongodb:
    image: mongo:6
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db    
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data:
